*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
@media screen and (min-width: 990px) {
	body{
		position:relative;
	}
	.PBMUwCQ1pLns9wVro-UqV{
		width: 350px;
		text-align: center;
		color: #fff;
		line-height: 45px;
		height: 60px;
		border-radius: 10px;
		background: #65758E;
		position: fixed;
		bottom:-2%;
		right: 5%;
	}
	
	._1bZYnu9ypRpSa0eUdx71xJ{
		width: 100%;
		height: 603px;
	}
	._2yBcgKsm2HtU1FRemsW3r0{
		width: 100%;
		height: 54px;
		background: #fff;
	}
	._2yBcgKsm2HtU1FRemsW3r0>p{
		width: 187px;
		height: 50px;
		float: left;
		line-height: 50px;
		font-weight: 500;
		font-size: 28px;
		text-align: center;
		margin-left: 4%;
		margin-top: 2px;
	}
	._3b1gA0o7w5MArlVJF2aY8q{
		margin-left: 63%;
	}
	._2yBcgKsm2HtU1FRemsW3r0 a{
		width: 87px;
		height: 50px;
		display: block;
		float: left;
		margin-top: 2px;
		line-height: 50px;
		text-align: center;
		color: #424242;;
		font-size: 13px;
	}
	._3wJOpcPgz5NidvThRVck_T{
		width: 100%;
		height: 549px;
		background-image: url(img/da6c3425.tab.jpg);
		background-size: 100% 158%;
	}
	._1wymP2czC6D20s0bRNo3hr{
		width: 100%;
		height: 100%;
		color: #fff;
		background: rgba(0,0,0,0.5);
	}
	._1wymP2czC6D20s0bRNo3hr h2{
		padding-top: 80px;
		font-weight: 600;
		font-size: 25px;
		text-align: center;
	}
	._1wymP2czC6D20s0bRNo3hr p{
		width: 730px;
		text-align: center;
		font-size: 19px;    line-height: 35px;
		height: 70px;
		margin: 0 auto;
	}
	._8V-hA_s25uPFvycpW4VZA{
		display: block;
		margin: 0 auto;
		margin-top: 1.5%;
		margin-bottom: 1.5%;
		width: 70px;height: 1px;
		background: #fff;
	}
	._1wymP2czC6D20s0bRNo3hr button{
		width: 160px;
		height: 43px;
		background: #fff;
		border:none;
		display: block;
		font-weight: 600;
		color: #333;
		font-size: 13px;
		margin: 6.5% auto;
		border-radius: 3px;
		transition: all 0.5s;
	}
	._1wymP2czC6D20s0bRNo3hr button:hover{
		background: #333;
		color: #fff;
	}
	._2Dq2QOGZQG_U-2RvqAq8pt{
		width: 100%;
		height: 126px;
		color: #fff;
		background: #32c5d2;
	}
	._1K76fWzkIkCJet0rnhn8FW{
		margin-left: 10%;
	}
	._2Dq2QOGZQG_U-2RvqAq8pt div{
		float: left;
		width: 40%;
		text-align: center;
		height: 100%;
	}
	._2Dq2QOGZQG_U-2RvqAq8pt div span{
		font-size: 48px;
		margin-top: 2%;
		display: block;
	}
	._2Dq2QOGZQG_U-2RvqAq8pt div h4{
		font-weight: 500;
	}
	.U3FT18x4aavO-rvxESQiL{
		width: 100px;
		height: 40px;
	}
	._2Lvy6bDnbv5FI06IQYvghI{
		width: 100%;
		height: 320px;
	}
	._2Lvy6bDnbv5FI06IQYvghI div{
		width: 42%;
		height: 100%;
		float: left;
	}
	._--t0SWTMh3h49ar8Kf86A{
		margin-left: 6.25%;
		margin-right: 3%;
	}
	._2Lvy6bDnbv5FI06IQYvghI div img{
		width: 100%;
		height: 100%;
		display: block;
	}
	._2Lvy6bDnbv5FI06IQYvghI div h2{
		height: 84px;
		font-size: 30px;
		font-weight: 500;
	}
	._20q7_H7wI1hf8IBKYM5HJi{
		display: block;
		margin-top: 10%;
		width: 70px;height: 1px;
		background: #bbb;
	}
	._2Lvy6bDnbv5FI06IQYvghI div p{
		height: 58px;
		color: #745151;
		margin-top: 2%;
		line-height: 29px;
	}
	._168ij6JfJDyZglg6t3JbOz{
		width: 185px;
		height: 43px;
		background: #32C5D2;
		border:none;
		border-radius: 3px;
		font-size: 13px;
		color: #fff;
		margin-top: 5%;
	}
	.Iv31V99NuBpJr2eDxaneT{
		width: 100%;
		height: 380px;
		padding-top: 50px;
		background: #F5F5F5;
	}
	.Iv31V99NuBpJr2eDxaneT div{
		width: 42%;
		height: 100%;
		float: left;
	}
	._--t0SWTMh3h49ar8Kf86A h2{
		height: 84px;
		font-size: 30px;
		font-weight: 500;
	}
	._--t0SWTMh3h49ar8Kf86A p{
		height: 58px;
		font-size: 14px;
		color: #745151;
		margin-top: 2%;
		line-height: 29px;
	}
	._2pv3vrC7B_ezJ5WGCqIIH7{
		width: 100%;
		height: 214px;
	}
	._2pv3vrC7B_ezJ5WGCqIIH7 h2{
		padding-top: 3%;
		text-align: center;
		font-size: 25px;
		font-weight: 600;
	}
	._2pv3vrC7B_ezJ5WGCqIIH7 div{
		float: left;
		width: 20%;
		height: 88px;
	}
	._2pv3vrC7B_ezJ5WGCqIIH7 div img{
		margin: 0 auto;
		display: block;
	}
	._3f_lrjycT9siJAp8ZTgvnz{
		margin-left: 10%;
	}
	._3pLHCJH0haRpOB5BLfyPix{
		display: block;
		margin: 0 auto;
		margin-top: 1.5%;
		margin-bottom: 1.5%;
		width: 70px;height: 1px;
		background: #bbb;
	}
	._2W3C8iQJWM2w7HikJz-uW{
		width: 100%;
		height: 189px;
		background: #F5F5F5;
	}
	._2W3C8iQJWM2w7HikJz-uW div{
		width: 60%;
		height: 109px;
		float: left;
		margin-left: 5.6%; 
		padding-top: 3%;
	}
	._2W3C8iQJWM2w7HikJz-uW div h4{
		color: #333;
		font-weight: 500;
		font-size: 20px;
	}
	._2W3C8iQJWM2w7HikJz-uW div p{
		height: 48px;
		font-size: 15px;
		margin-top: 2%;
		line-height: 24px;
		color: #999;
	}
	._3MwalIEsPbj17stxK-aicV{
		width: 185px;
		height: 43px;
		display: block;
		border:1px solid #32C5D2;
		float: left;
		border-radius: 3px;
		font-size: 13px;
		background: none;
		color: #32C5D2;
		margin-top: 4%;
		margin-left: 2%;
		transition: all 0.5s;
	}
	._3MwalIEsPbj17stxK-aicV:hover{
		background: #32C5D2;
		color: #fff;
	}
	._2Dprno0etA9NY4wxtxa3hb{
		height: 24px;
		width: 100%;
		background: #000;
		text-align: center;
		color: #fff;
		font-size: 10px;
		line-height: 24px;
	}
}
@media screen and (max-width : 990px) {
	body{
		position:relative;
	}
	.PBMUwCQ1pLns9wVro-UqV{
		width: 350px;
		text-align: center;
		color: #fff;
		line-height: 45px;
		height: 60px;
		border-radius: 10px;
		background: #65758E;
		position: fixed;
		bottom:-2%;
		right: 5%;
	}
	._1bZYnu9ypRpSa0eUdx71xJ{
		width: 100%;
		height: 603px;
	}
	._2yBcgKsm2HtU1FRemsW3r0{
		width: 100%;
		height: 54px;
		background: #fff;
	}
	._2yBcgKsm2HtU1FRemsW3r0>p{
		width: 187px;
		height: 50px;
		float: left;
		line-height: 50px;
		font-weight: 500;
		font-size: 28px;
		text-align: center;
		margin-left: 4%;
		margin-top: 2px;
	}
	._3b1gA0o7w5MArlVJF2aY8q{
		margin-left: 63%;
	}
	._2yBcgKsm2HtU1FRemsW3r0 a{
		width: 87px;
		height: 50px;
		display: block;
		float: left;
		margin-top: 2px;
		line-height: 50px;
		text-align: center;
		color: #424242;;
		font-size: 13px;
	}
	._3wJOpcPgz5NidvThRVck_T{
		width: 100%;
		height: 549px;
		background-image: url(img/da6c3425.tab.jpg);
		background-size: 100% 158%;
	}
	._1wymP2czC6D20s0bRNo3hr{
		width: 100%;
		height: 100%;
		color: #fff;
		background: rgba(0,0,0,0.5);
	}
	._1wymP2czC6D20s0bRNo3hr h2{
		padding-top: 80px;
		font-weight: 600;
		font-size: 25px;
		text-align: center;
	}
	._1wymP2czC6D20s0bRNo3hr p{
		width: 730px;
		text-align: center;
		font-size: 19px;    line-height: 35px;
		height: 70px;
		margin: 0 auto;
	}
	._8V-hA_s25uPFvycpW4VZA{
		display: block;
		margin: 0 auto;
		margin-top: 1.5%;
		margin-bottom: 1.5%;
		width: 70px;height: 1px;
		background: #fff;
	}
	._1wymP2czC6D20s0bRNo3hr button{
		width: 160px;
		height: 43px;
		background: #fff;
		border:none;
		display: block;
		font-weight: 600;
		color: #333;
		font-size: 13px;
		margin: 6.5% auto;
		border-radius: 3px;
		transition: all 0.5s;
	}
	._1wymP2czC6D20s0bRNo3hr button:hover{
		background: #333;
		color: #fff;
	}
	._2Dq2QOGZQG_U-2RvqAq8pt{
		width: 100%;
		height: 382px;
		color: #fff;
		background: #32c5d2;
	}
	._2Dq2QOGZQG_U-2RvqAq8pt div{
		float: left;
		width: 100%;
		text-align: center;
		height:40%;
	}
	._2FrjBHOAAFUzzi0tXgE4g_{

	}
	._2Dq2QOGZQG_U-2RvqAq8pt div span{
		font-size: 48px;
		margin-top: 2%;
		width: 100%;
		display: block;
	}
	._2Dq2QOGZQG_U-2RvqAq8pt div h4{
		font-weight: 500;
	}
	.U3FT18x4aavO-rvxESQiL{
		width: 100px;
		height: 40px;
	}
	._2Lvy6bDnbv5FI06IQYvghI{
		width: 100%;
		height: 334px;
	}
	._2Lvy6bDnbv5FI06IQYvghI div{
		width: 42%;
		height: 100%;
		float: left;
	}
	._--t0SWTMh3h49ar8Kf86A{
		margin-left: 6.25%;
		margin-right: 3%;
	}
	._2Lvy6bDnbv5FI06IQYvghI div img{
		width: 100%;
		height: 100%;
		display: block;
	}
	._2Lvy6bDnbv5FI06IQYvghI div h2{
		height: 126px;
		font-size: 30px;
		font-weight: 500;
	}
	._20q7_H7wI1hf8IBKYM5HJi{
		display: block;
		margin-top: 10%;
		width: 70px;height: 1px;
		background: #bbb;
	}
	._2Lvy6bDnbv5FI06IQYvghI div p{
		height: 87px;
		color: #745151;
		margin-top: 2%;
		line-height: 29px;
	}
	._168ij6JfJDyZglg6t3JbOz{
		width: 185px;
		height: 43px;
		background: #32C5D2;
		border:none;
		border-radius: 3px;
		font-size: 13px;
		color: #fff;
		margin-top: 5%;
	}
	.Iv31V99NuBpJr2eDxaneT{
		width: 100%;
		height: 380px;
		padding-top: 50px;
		background: #F5F5F5;
	}
	.Iv31V99NuBpJr2eDxaneT div{
		width: 42%;
		height: 100%;
		float: left;
	}
	._--t0SWTMh3h49ar8Kf86A h2{
		height:126px;
		font-size: 30px;
		font-weight: 500;
	}
	._--t0SWTMh3h49ar8Kf86A p{
		height: 87px;
		font-size: 14px;
		color: #745151;
		margin-top: 2%;
		line-height: 29px;
	}
	._2pv3vrC7B_ezJ5WGCqIIH7{
		width: 100%;
		height: 214px;
	}
	._2pv3vrC7B_ezJ5WGCqIIH7 h2{
		padding-top: 3%;
		text-align: center;
		font-size: 25px;
		font-weight: 600;
	}
	._2pv3vrC7B_ezJ5WGCqIIH7 div{
		float: left;
		width: 20%;
		height: 72px;
	}
	._2pv3vrC7B_ezJ5WGCqIIH7 div img{
		margin: 0 auto;
		width: 157px;
		height: 42px;
		display: block;
	}
	._3f_lrjycT9siJAp8ZTgvnz{
		margin-left: 10%;
	}
	._3pLHCJH0haRpOB5BLfyPix{
		display: block;
		margin: 0 auto;
		margin-top: 1.5%;
		margin-bottom: 1.5%;
		width: 70px;height: 1px;
		background: #bbb;
	}
	._2W3C8iQJWM2w7HikJz-uW{
		width: 100%;
		height: 189px;
		background: #F5F5F5;
	}
	._2W3C8iQJWM2w7HikJz-uW div{
		width: 60%;
		height: 109px;
		float: left;
		margin-left: 5.6%; 
		padding-top: 3%;
	}
	._2W3C8iQJWM2w7HikJz-uW div h4{
		color: #333;
		font-weight: 500;
		font-size: 20px;
	}
	._2W3C8iQJWM2w7HikJz-uW div p{
		height: 48px;
		font-size: 15px;
		margin-top: 2%;
		line-height: 24px;
		color: #999;
	}
	._3MwalIEsPbj17stxK-aicV{
		width: 185px;
		height: 43px;
		display: block;
		border:1px solid #32C5D2;
		float: left;
		border-radius: 3px;
		font-size: 13px;
		background: none;
		color: #32C5D2;
		margin-top: 4%;
		margin-left: 2%;
		transition: all 0.5s;
	}
	._3MwalIEsPbj17stxK-aicV:hover{
		background: #32C5D2;
		color: #fff;
	}
	._2Dprno0etA9NY4wxtxa3hb{
		height: 24px;
		width: 100%;
		background: #000;
		text-align: center;
		color: #fff;
		font-size: 10px;
		line-height: 24px;
	}
}
@media screen and (max-width : 770px){
	body{
		position:relative;
	}
	.PBMUwCQ1pLns9wVro-UqV{
		width: 100%;
		text-align: center;
		color: #fff;
		line-height: 45px;
		height: 45px;
		background: #65758E;
		position: fixed;
		bottom:0%;
	}
	._1bZYnu9ypRpSa0eUdx71xJ{
		width: 100%;
		height: 603px;
	}
	._2yBcgKsm2HtU1FRemsW3r0{
		width: 100%;
		height: 54px;
		background: #fff;
	}
	._2yBcgKsm2HtU1FRemsW3r0>p{
		width: 187px;
		height: 50px;
		float: left;
		line-height: 50px;
		font-weight: 500;
		font-size: 28px;
		text-align: center;
		margin-left: 4%;
		margin-top: 2px;
	}
	._3b1gA0o7w5MArlVJF2aY8q{
		margin-left: 63%;
	}
	._2yBcgKsm2HtU1FRemsW3r0 a{
		width: 87px;
		height: 50px;
		display: block;
		float: left;
		margin-top: 2px;
		line-height: 50px;
		text-align: center;
		color: #424242;;
		font-size: 13px;
	}
	._3wJOpcPgz5NidvThRVck_T{
		width: 100%;
		height: 549px;
		background-image: url(img/da6c3425.tab.jpg);
		background-size: 100% 158%;
	}
	._1wymP2czC6D20s0bRNo3hr{
		width: 100%;
		height: 100%;
		color: #fff;
		background: rgba(0,0,0,0.5);
	}
	._1wymP2czC6D20s0bRNo3hr h2{
		padding-top: 80px;
		font-weight: 600;
		font-size: 25px;
		text-align: center;
	}
	._1wymP2czC6D20s0bRNo3hr p{
		width: 100%;
		text-align: center;
		font-size: 19px;    line-height: 35px;
		height: 70px;
		margin: 0 auto;
	}
	._8V-hA_s25uPFvycpW4VZA{
		display: block;
		margin: 0 auto;
		margin-top: 1.5%;
		margin-bottom: 1.5%;
		width: 70px;height: 1px;
		background: #fff;
	}
	._1wymP2czC6D20s0bRNo3hr button{
		width: 160px;
		height: 43px;
		background: #fff;
		border:none;
		display: block;
		font-weight: 600;
		color: #333;
		font-size: 13px;
		margin: 6.5% auto;
		border-radius: 3px;
		transition: all 0.5s;
	}
	._1wymP2czC6D20s0bRNo3hr button:hover{
		background: #333;
		color: #fff;
	}
	._2Dq2QOGZQG_U-2RvqAq8pt{
		width: 100%;
		height: 382px;
		color: #fff;
		background: #32c5d2;
	}
	._2Dq2QOGZQG_U-2RvqAq8pt div{
		float: left;
		width: 100%;
		text-align: center;
		height:40%;
	}
	._2FrjBHOAAFUzzi0tXgE4g_{

	}
	._2Dq2QOGZQG_U-2RvqAq8pt div span{
		font-size: 48px;
		margin-top: 2%;
		width: 100%;
		display: block;
	}
	._2Dq2QOGZQG_U-2RvqAq8pt div h4{
		font-weight: 500;
	}
	.U3FT18x4aavO-rvxESQiL{
		width: 100px;
		height: 40px;
	}
	._2Lvy6bDnbv5FI06IQYvghI{
		width: 100%;
		height: 605px;
	}
	._2Lvy6bDnbv5FI06IQYvghI div{
		width: 80%;
		height: 50%;
		margin-left: 10%;
		float: left;
	}
	._--t0SWTMh3h49ar8Kf86A{
		margin-left: 6.25%;
		margin-right: 3%;
	}
	._2Lvy6bDnbv5FI06IQYvghI div img{
		width: 100%;
		height: 100%;
		display: block;
	}
	._2Lvy6bDnbv5FI06IQYvghI div h2{
		height: 126px;
		font-size: 30px;
		font-weight: 500;
	}
	._20q7_H7wI1hf8IBKYM5HJi{
		display: block;
		margin-top: 10%;
		width: 70px;height: 1px;
		background: #bbb;
	}
	._2Lvy6bDnbv5FI06IQYvghI div p{
		height: 87px;
		color: #745151;
		margin-top: 2%;
		line-height: 29px;
	}
	._168ij6JfJDyZglg6t3JbOz{
		width: 185px;
		height: 43px;
		background: #32C5D2;
		border:none;
		border-radius: 3px;
		font-size: 13px;
		color: #fff;
		margin-top: 5%;
	}
	.Iv31V99NuBpJr2eDxaneT{
		width: 100%;
		height: 710px;
		padding-top: 50px;
		background: #F5F5F5;
	}
	.Iv31V99NuBpJr2eDxaneT div{
		width: 80%;
		height: 50%;
		margin-left: 10%;
	}
	._--t0SWTMh3h49ar8Kf86A h2{
		height:126px;
		font-size: 30px;
		font-weight: 500;
	}
	.eB8HsISHTT_hs_LjmfX4N img{
		width: 100%;
		height: 100%;
		display: block;
	}
	._--t0SWTMh3h49ar8Kf86A p{
		height: 87px;
		font-size: 14px;
		color: #745151;
		margin-top: 2%;
		line-height: 29px;
	}
	._2pv3vrC7B_ezJ5WGCqIIH7{
		width: 100%;
		height: 478px;
	}
	._2pv3vrC7B_ezJ5WGCqIIH7 h2{
		padding-top: 3%;
		text-align: center;
		font-size: 25px;
		font-weight: 600;
	}
	._2pv3vrC7B_ezJ5WGCqIIH7 div{
		float: left;
		width: 100%;
		margin: 10px auto;
		height: 72px;
	}
	._2pv3vrC7B_ezJ5WGCqIIH7 div img{
		margin: 0 auto;
		width: 216px;
		height: 58px;
		display: block;
	}
	._3pLHCJH0haRpOB5BLfyPix{
		display: block;
		margin: 0 auto;
		margin-top: 1.5%;
		margin-bottom: 1.5%;
		width: 70px;height: 1px;
		background: #bbb;
	}
	._2W3C8iQJWM2w7HikJz-uW{
		width: 100%;
		height: 247px;
		background: #F5F5F5;
	}
	._2W3C8iQJWM2w7HikJz-uW div{
		width: 80%;
		height: 109px;
		float: left;
		margin-left: 3%; 
		padding-top: 3%;
	}
	._2W3C8iQJWM2w7HikJz-uW div h4{
		color: #333;
		font-weight: 500;
		font-size: 20px;
	}
	._2W3C8iQJWM2w7HikJz-uW div p{
		height: 48px;
		font-size: 15px;
		margin-top: 2%;
		line-height: 24px;
		color: #999;
	}
	._3MwalIEsPbj17stxK-aicV{
		width: 185px;
		height: 43px;
		display: block;
		border:1px solid #32C5D2;
		float: left;
		border-radius: 3px;
		font-size: 13px;
		background: none;
		color: #32C5D2;
		margin-top: 4%;
		margin-left: 2%;
		transition: all 0.5s;
	}
	._3MwalIEsPbj17stxK-aicV:hover{
		background: #32C5D2;
		color: #fff;
	}
	._2Dprno0etA9NY4wxtxa3hb{
		height: 24px;
		width: 100%;
		background: #000;
		text-align: center;
		color: #fff;
		font-size: 10px;
		line-height: 24px;
	}
}